body {
  margin: 0;
  background: #080808;
  font-family: system-ui, sans-serif;
}

.page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-border {
  width: 318px;
  height: 318px;
  padding: 4px; /* thickness of the stroke */
  border-radius: 26px;
  background: linear-gradient(
    180deg,
    rgba(61,61,61,100),
    rgba(43,43,43,100)
  );
}

.card {
  width: 100%;            /* mobile width */
  height: 100%;
  border-radius: 22px;
  background: #121212;
}

.btc-badge {
  width: 63px;
  height: 63px;
  border-radius: 50%;

  background: rgba(61,61,61,30)
  border: 2.5px solid rgba(61,61,61,100);

  display: flex;
  align-items: center;
  justify-content: center;

  color: #f7931a;
  font-size: 20px;

  box-shadow:
    0 6px 16px rgba(0,0,0,100),
    inset 0 1px 0 rgba(255,255,255,0.06);
}
